{
  "plugins": [
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ],
      "presets": [
        [
          "env", {
          "debug": true,
          "modules": false,
          "targets": {
            "chrome": 62,
            "firefox": 57,
            "edge": 15,
            "safari": 11
          }
        }],
        "react"
      ]
    },
    "es": {
      "presets": [
        [
          "env", {
          "debug": true,
          "modules": false,
          "targets": {
            "chrome": 62,
            "firefox": 57,
            "edge": 15,
            "safari": 11
          }
        }],
        "react"
      ]
    },
    "cjs": {
      "presets": [
        [
          "env", {
          "debug": true,
          "modules": "commonjs",
          "targets": {
            "chrome": 62,
            "firefox": 57,
            "edge": 15,
            "safari": 11
          }
        }],
        "react"
      ]
    }
  }
}
