{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "import/named": 2,
    "import/no-amd": 1,
    "import/no-commonjs": 1,
    "import/no-nodejs-modules": 1,
    "react/prop-types": 1,
    "react/forbid-foreign-prop-types": 1,
    "react/jsx-curly-spacing": "off",
    "react/no-deprecated": 2,
    "react/no-unused-prop-types": "off"
  }
}